.content-section {
  background: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.menu__links-list {
  display: flex;
  text-underline-offset: 4px;
  gap: 39px;
}

.menu__links-list-item {
  font-weight: 400;
  font-size: 17px;
  list-style: circle;
}

.menu__link-list-item--no-round {
  list-style: none;
}

.menu__link--active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 240px;
  margin-left: 186px;
  line-height: 135%;
  font-style: normal;
  font-size: 18px;
}

.cover {
  display: flex;
  flex-direction: column;
  row-gap: 106px;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  gap: 20px;
  font-family: "Raleway";
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
  transform: translateX(30px);
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}

.cover__button {
  padding: 12px 32px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 24px 120px;
  gap: 27px;
}

.lots__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
}

.lots__list {
  display: flex;
  list-style: none;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__link {
  text-decoration: none;
}

.article {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  width: 334px;
  position: relative;
}

.article__title,
.article__text {
  position: relative;
  z-index: 1;
}

.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.article__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.article_films {
  background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.article_books {
  background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.article_painting {
  background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.lots__see-more {
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  margin-top: 3px;
}

.about {
  display: block;
  padding: 0 24px 180px;
}

.about__logo {
  display: flex;
  border-radius: 50%;
  background-color: #000;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
}

.about__column {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 0 47px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about__text {
  display: flex;
  flex-direction: column;
  width: 693px;
  gap: 100px;
  padding-top: 98px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 3px 50px 82px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 240px;
  line-height: 135%;
  font-style: normal;
  font-size: 18px;
}

.footer__menu {
  line-height: 21px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-underline-offset: 4px;
  list-style: none;
  text-align: center;
}

.footer__menu-list-item {
  font-weight: 400;
  font-size: 17px;
  list-style: none;
}

.footer__social-list {
  padding-left: 190px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}
